.card {
  -webkit-box-shadow: 10px 10px 50px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px -22px rgba(0, 0, 0, 0.75);
  height: 180px;
  padding: 10px;
  border-radius: 10px;
}

.cotainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.root-container {
  padding: 0px 20px;
  display: grid;
  background: white;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.3fr));
  grid-auto-rows: 12rem;
  grid-gap: 3rem;
  justify-content: center;
}

.example-container {
  height: 90vh;
  background: white;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
}

.single-item {
  display: flex;
  justify-content: space-between;
}

.long-url {
  font-weight: bold;
  font-size: 16px;
  min-width: 90%;
  width: min-content;
  word-break: break-all;
}

.copy-icon {
  font-size: 20px;
  cursor: pointer;
}

.padding-top {
  padding-top: 10px;
}

.url-higliter {
  font-weight: lighter;
  padding-top: 10px;
}

.floating-icon {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 10;
}

table {
  width: 100%;
  // box-shadow: 10px 6px 38px -12px rgb(0 0 0 / 75%);
  border-collapse: collapse;

  tr:nth-child(even) {
    background: #fff;
  }

  tr:nth-child(odd) {
    background: #e6f9f5;
  }

  td {
    padding: 5px;
    text-align: center;
  }

  tr {
    th {
      color: white;
      padding: 5px;
      background-color: var(--primary-color);
      font-weight: 600;
      border-bottom: 1px solid #d6d6d6;

    }
  }

  .icon-col {
    width: 100px;
  }
}


tr.border-bottom td {
  border-bottom: 1px solid #d6d6d6;
}



th {
  position: sticky;
  top: 0;
  z-index: 10;
}
#card{
  overflow-y: auto; height: 420px;
}