<mat-drawer-container class="example-container">
    <mat-drawer #sideNav mode="side" opened="false" [position]="'end'">
        <app-newurl (newURLAdded)="refreshPage()"></app-newurl>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <div class="title-wrapper">
                <app-pagetitle [title]="'MY URLS'"></app-pagetitle>
            </div>
            <div class="root-container">
                <div class="card" *ngFor="let n of myURLS">
                    <span class="">
                        <div class="single-item">
                            <div class="long-url">{{n.longUrl}}</div>
                            <mat-icon class="copy-icon">content_copy</mat-icon>
                        </div>
                        <div class="single-item">
                            <div class="url-higliter"><a [href]="cleanURL(n.shortUrl)">
                                    https://murlshortner.herokuapp.com/u/{{n.shortUrl}}</a>
                            </div>
                            <mat-icon class="copy-icon padding-top">content_copy</mat-icon>
                        </div>
                        <div class="single-item">
                            <div class="url-higliter">Clicks: {{n.clicks}}</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div class="floating-icon">
    <app-button [text]="'COPY TO CLIPBOARD'" [icon]="'add'" [isRounded]="true" (press)="sideNav.toggle()"></app-button>
</div>