.card {
  -webkit-box-shadow: 10px 10px 50px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px -22px rgba(0, 0, 0, 0.75);
  height: 180px;
  padding: 10px;
  border-radius: 10px;
}

.cotainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.root-container {
  padding: 0px 20px;
  display: grid;
  background: white;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.3fr));
  grid-auto-rows: 12rem;
  grid-gap: 3rem;
  justify-content: center;
}

.example-container {
  height: 90vh;
  background: white;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
}

.single-item {
  display: flex;
  justify-content: space-between;
}

.long-url {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 16px;
  min-width: 90%;
  width: min-content;
  word-break: break-all;
}

.copy-icon {
  font-size: 20px;
  cursor: pointer;
}

.padding-top {
  padding-top: 10px;
}

.url-higliter {
    padding-top: 10px;
    min-width: 90%;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    word-break: break-all;
    font-family: 'Poppins';
}

.floating-icon {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 10;
  width: 100%;
}

table {
  width: 100%;
  // box-shadow: 10px 6px 38px -12px rgb(0 0 0 / 75%);
  border-collapse: collapse;

  tr:nth-child(even) {
    background: #fff;
  }

  tr:nth-child(odd) {
    background: #e6f9f5;
  }

  td {
    padding: 5px;
    text-align: center;
  }

  tr {
    th {
      color: white;
      padding: 5px;
      background-color: var(--primary-color);
      font-weight: 600;
      border-bottom: 1px solid #d6d6d6;

    }
  }

  .icon-col {
    width: 100px;
  }
}


tr.border-bottom td {
  border-bottom: 1px solid #d6d6d6;
}



th {
  position: sticky;
  top: 0;
  z-index: 10;
}

#card {
  overflow-y: auto;
  height: 420px;
}

@media only screen and (max-width: 773px) {
  table {
    display: none;
  }

  .carder {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #card{
    overflow-y: auto;
    height: 80vh;
  }
}

@media only screen and (min-width: 773px) {
  table {
    display: inline-table;
  }

  .carder {
    display: none;
  }
}

.single-url {
  padding: 10px;
  border-left: 5px solid var(--primary-color);
  box-shadow: 10px 10px 31px -15px rgba(0, 0, 0, 0.75);
}