.container{
    
    .input-text{
        padding: var(--default-padding);
        border: 2px solid  var(--grey);
        border-radius: 5px;
        outline: none;
    }
    .label{
        color: var(--grey);
        font-size: var(--font-size-label);        
    }
}