<div style="display: flex;justify-content:space-between;background:var(--primary-color);">
    <div>
        <div style="margin: auto;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;">URL Shortner</div>
    </div>
    <div><img style="    border-radius: 50%;
        width: 32px;
        height: 32px;
        /* margin: auto; */
        /* width: 60%; */
        /* border: 3px solid #73AD21; */
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 4px;"
            src="https://lh3.googleusercontent.com/ogw/ADGmqu_PIj5VcKnRMLlD1goGtMacTFTOpkotAANOaZV0LA=s83-c-mo"></div>
</div>
<router-outlet></router-outlet>