<mat-toolbar *ngIf="isLoggedIn" style="background:var(--primary-color);">
    <mat-icon style="color: white;">menu</mat-icon>
    <div>
        <div class="app-name">URL Shortner</div>
    </div>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon style="color:white;">power_settings_new</mat-icon>
    </button>

    <div><img class="profile-pic" [src]="url">
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
<app-loader></app-loader>