<div style="padding:10px;width: 46vH;">
    <div>
        <div class="padding-all">
            <app-pagetitle [title]="'Generate new URL'"></app-pagetitle>
        </div>
        <div class="padding-all">
            <app-inputbox [label]="'Enter the long url'" (textChanged)="longUrlChanged($event)"></app-inputbox>
        </div>
        <div class="padding-all" *ngIf="isGenerated">
            <div class="container">
                <div class="label">
                    Short URL
                </div>
                <div class="input-text">
                    <span>
                        <a [href]="cleanURL(shortUrl)">{{shortUrl}}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="padding-all">

            <app-button *ngIf="!isGenerated" [text]="'Generate short url'" [icon]="'run'" (press)="generateURL($event)"
                [isRounded]="false"></app-button>

                <app-button *ngIf="isGenerated" [text]="'URL Generated'" [icon]="'content_copy'" 
                [isRounded]="false"></app-button>
        </div>
    </div>
</div>