<div class="root-container">
    <div class="bg-image"></div>
    <div class="login-container">
        <div class="welcome-title">
            Welcome to Short.ly
        </div>
        <div class="login-form">
            <div class="text-field">
                <input class="text-input" [(ngModel)]='email' type="text" placeholder="Enter email or User Name">

            </div>
            <div class="text-field">
                <input class="text-input" [(ngModel)]='password' type="password" placeholder="Enter password">

            </div>
            <div class="login-action">
                <button class="login" (click)="loginClicked($event)">Login</button>

            </div>
            <div class="divider">
                <div class="line"></div>
                <div class="secondary-heading padding-horizondal">OR</div>
                <div class="line"></div>
            </div>
        </div>

        <div class="social-login">
            <div class="google-signin">
                <button type="button" class="login-with-google-btn" (click)="socialLogin('google')">
                    Login with Google
                </button>
            </div>
            <div class="facebook-sign">
                <button type="button" class="login-with-facebook-btn" (click)="socialLogin('facebook')">
                    Login with Facebook
                </button> </div>
        </div>
    </div>
</div>